<div class="footer">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link " id="hourly-tab" (click)="changeTab('hourly')" [ngClass]="{'active': activeTab ==='hourly'}" data-bs-toggle="tab" data-bs-target="#hourly" type="button" role="tab" aria-controls="home" aria-selected="true">Hourly</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" (click)="changeTab('weekly')" [ngClass]="{'active': activeTab ==='weekly'}" id="weekly-tab" data-bs-toggle="tab" data-bs-target="#weekly" type="button" role="tab" aria-controls="profile" aria-selected="false">Weekly</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade " id="hourly" [ngClass]="{'show active': activeTab ==='hourly'}" role="tabpanel" aria-labelledby="hourly-tab">
        <div class="status-container">
          <app-weather-status *ngFor="let item of weatherForecast?.hourly?.data" [targetConversion]="targetConversion"
                            [temperature]="item.temperature" [degreeTime]="item.timeDate.toLocaleTimeString()" [icon]="'sunny'"></app-weather-status>
          <!-- <app-weather-status [targetConversion]="targetConversion" [degree]="81" [degreeTime]="'Sunday'" [icon]="'sunny'"></app-weather-status>
          <app-weather-status [targetConversion]="targetConversion" [degree]="70" [degreeTime]="'Monday'" [icon]="'cloudy'"></app-weather-status>
          <app-weather-status [targetConversion]="targetConversion" [degree]="50" [degreeTime]="'12:00'" [icon]="'sunny'"></app-weather-status>
          <app-weather-status [targetConversion]="targetConversion" [degree]="30" [degreeTime]="'15:00'" [icon]="'cloudy'"></app-weather-status>
          <app-weather-status [targetConversion]="targetConversion" [degree]="45" [degreeTime]="'18:00'" [icon]="'cloudy'"></app-weather-status>
          <app-weather-status [targetConversion]="targetConversion" [degree]="22" [degreeTime]="'18:00'" [icon]="'cloudy'"></app-weather-status>
          <app-weather-status [targetConversion]="targetConversion" [degree]="56" [degreeTime]="'18:00'" [icon]="'sunny'"></app-weather-status>
          <app-weather-status [targetConversion]="targetConversion" [degree]="81" [degreeTime]="'18:00'" [icon]="'sunny'"></app-weather-status>
          <app-weather-status [targetConversion]="targetConversion" [degree]="81" [degreeTime]="'18:00'" [icon]="'cloudy'"></app-weather-status>
          <app-weather-status [targetConversion]="targetConversion" [degree]="81" [degreeTime]="'18:00'" [icon]="'sunny'"></app-weather-status>
          <app-weather-status [targetConversion]="targetConversion" [degree]="81" [degreeTime]="'18:00'" [icon]="'sunny'"></app-weather-status>
          <app-weather-status [targetConversion]="targetConversion" [degree]="81" [degreeTime]="'18:00'" [icon]="'sunny'"></app-weather-status>
          <app-weather-status [targetConversion]="targetConversion" [degree]="81" [degreeTime]="'18:00'" [icon]="'sunny'"></app-weather-status>
          <app-weather-status [targetConversion]="targetConversion" [degree]="81" [degreeTime]="'18:00'" [icon]="'sunny'"></app-weather-status>
          <app-weather-status [targetConversion]="targetConversion" [degree]="81" [degreeTime]="'18:00'" [icon]="'sunny'"></app-weather-status>
          <app-weather-status [targetConversion]="targetConversion" [degree]="81" [degreeTime]="'18:00'" [icon]="'sunny'"></app-weather-status>
          <app-weather-status [targetConversion]="targetConversion" [degree]="81" [degreeTime]="'18:00'" [icon]="'sunny'"></app-weather-status>
          <app-weather-status [targetConversion]="targetConversion" [degree]="81" [degreeTime]="'18:00'" [icon]="'sunny'"></app-weather-status> -->

        </div>
      </div>
      <div class="tab-pane fade " [ngClass]="{'show active': activeTab ==='weekly'}" id="weekly" role="tabpanel" aria-labelledby="weekly-tab">
        <div class="status-container">
          <app-weather-status *ngFor="let item of weatherForecast?.daily?.data" [targetConversion]="targetConversion"
                            [temperatureHigh]="item.temperatureHigh" [temperatureLow]="item.temperatureLow" [degreeTime]="item.timeDate.toLocaleDateString()" [icon]="'sunny'"></app-weather-status>
          <!-- <app-weather-status [targetConversion]="targetConversion" [degree]="81" [degreeTime]="'18:00'" [icon]="'sunny'"></app-weather-status>
          <app-weather-status [targetConversion]="targetConversion" [degree]="70" [degreeTime]="'17:00'" [icon]="'cloudy'"></app-weather-status>
          <app-weather-status [targetConversion]="targetConversion" [degree]="50" [degreeTime]="'12:00'" [icon]="'sunny'"></app-weather-status>
          <app-weather-status [targetConversion]="targetConversion" [degree]="30" [degreeTime]="'15:00'" [icon]="'cloudy'"></app-weather-status>
          <app-weather-status [targetConversion]="targetConversion" [degree]="45" [degreeTime]="'18:00'" [icon]="'cloudy'"></app-weather-status>
          <app-weather-status [targetConversion]="targetConversion" [degree]="22" [degreeTime]="'18:00'" [icon]="'cloudy'"></app-weather-status>
          <app-weather-status [targetConversion]="targetConversion" [degree]="56" [degreeTime]="'18:00'" [icon]="'sunny'"></app-weather-status>
          <app-weather-status [targetConversion]="targetConversion" [degree]="81" [degreeTime]="'18:00'" [icon]="'sunny'"></app-weather-status>
          <app-weather-status [targetConversion]="targetConversion" [degree]="81" [degreeTime]="'18:00'" [icon]="'cloudy'"></app-weather-status>
          <app-weather-status [targetConversion]="targetConversion" [degree]="81" [degreeTime]="'18:00'" [icon]="'sunny'"></app-weather-status>
          <app-weather-status [targetConversion]="targetConversion" [degree]="81" [degreeTime]="'18:00'" [icon]="'sunny'"></app-weather-status>
          <app-weather-status [targetConversion]="targetConversion" [degree]="81" [degreeTime]="'18:00'" [icon]="'sunny'"></app-weather-status>
          <app-weather-status [targetConversion]="targetConversion" [degree]="81" [degreeTime]="'18:00'" [icon]="'sunny'"></app-weather-status>
          <app-weather-status [targetConversion]="targetConversion" [degree]="81" [degreeTime]="'18:00'" [icon]="'sunny'"></app-weather-status>
          <app-weather-status [targetConversion]="targetConversion" [degree]="81" [degreeTime]="'18:00'" [icon]="'sunny'"></app-weather-status>
          <app-weather-status [targetConversion]="targetConversion" [degree]="81" [degreeTime]="'18:00'" [icon]="'sunny'"></app-weather-status>
          <app-weather-status [targetConversion]="targetConversion" [degree]="81" [degreeTime]="'18:00'" [icon]="'sunny'"></app-weather-status>
          <app-weather-status [targetConversion]="targetConversion" [degree]="81" [degreeTime]="'18:00'" [icon]="'sunny'"></app-weather-status> -->

        </div>
        
      </div>
    </div>
  </div>