

.container {
    background-image: url('../assets/waether.png');
    width: 70vw;
    height: 100vh;
    color: white;
}

.header{
    width: 80%;
    margin: 20px auto  40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_title{
    text-transform: uppercase;
    
    font-weight: bolder;
    margin: 20px 10px;
}
.conversion{
    margin: 20px 10px;
    
    font-weight: bolder;
    text-transform: uppercase;
}
.degree-switch{
    width: fit-content;
    //border: 1px solid white;
    background-color: transparent;
    display: flex;
    flex-direction: row;    
    & .active {
        background-color: #567a91;
    }
    & .degree {
        width:40px;
        padding: 5px;
        cursor: pointer;
    }
    & .vertical-splitter{
        width:1px;
        
        background-color: white;
        height: auto;
    }
}

//   start of main 

.main{
    //border: 2px solid  white ;
    width: 80%;
    margin: 20px auto  40px;
    height: 40vh;
    
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.important-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 10px;

}

.current-status{
    font-size: 8rem;
    width: 100%;
}

.more-details{
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    & h1 {
        font-size: 8.5rem;
    }
    & h4 {
        font-size: 4.5rem;
    }
    & p{
        font-size: 2rem;
    }
}

// ------ start of footer -----//
.footer{
    width: 80%;
    margin: 20px auto  40px;
    height: 40vh;
}

.status-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: auto;
}
.weather-status{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin:2px 10px;
    & span{
        margin:5px
    }
}