.header{
    width: 80%;
    margin: 0px auto  ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_title{
    text-transform: uppercase;
    
    font-weight: bolder;
    margin: 20px 10px;
}
.conversion{
    margin: 20px 10px;
    
    font-weight: bolder;
    text-transform: uppercase;
}

